# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

#<Limit GET POST>
#order deny,allow
#deny from all
#allow from all
#</Limit>
#<Limit PUT DELETE>
#order deny,allow
#deny from all
#</Limit>
#AuthName kochblocked.com
#AuthUserFile /home/kochbloc/public_html/_vti_pvt/service.pwd
#AuthGroupFile /home/kochbloc/public_html/_vti_pvt/service.grp


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.kochblocked.com [NC]
RewriteRule ^(.*)$ http://kochblocked.com/$1 [R=301,L]
</IfModule>